*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 750px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gamefield {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  background-color: black;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center center;
}
